<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    #navbarToggler
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    (click)="isShown = !isShown"
    [attr.aria-expanded]="isShown"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand mx-auto lead" href="#">{{ title }}</a>
  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: isShown }"
    id="navbarSupportedContent"
  >
    <ul class="nav navbar-nav me-auto">
      <li class="nav-item active lead">
        <a class="nav-link" (click)="isShown = false" routerLink="/">Home</a>
      </li>
      <li class="nav-item lead" *ngIf="currentUser == null">
        <a class="nav-link" (click)="isShown = false" routerLink="/login"
          >Login</a
        >
      </li>
      <li class="nav-item lead" *ngIf="currentUser == null">
        <a class="nav-link" (click)="isShown = false" routerLink="/register"
          >Register</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item lead" *ngIf="currentUser">
        <a
          class="nav-item nav-link lead mr-3"
          role="button"
          (click)="clickLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
