<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div
      class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    >
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="currentUser == null">
          <a class="nav-item nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="currentUser == null">
          <a class="nav-item nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".dual-collapse2"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="currentUser">
          <a role='button' class="nav-item nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div
    class="text-center p-3 text-light"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Copyright:
    <span class="text-light">Omri Gal Shenahv</span>
  </div>
  <!-- Copyright -->
</footer>
