<div class="card mt-4">
  <h4 class="card-header text-center">Dashboard</h4>
  <div class="card-body">
    <p class="lead text-center">{{ currentUser.username }} You're logged in!</p>
    <br />
    <br />

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12 card">
          <h4 class="card-header text-center">Online Clients</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Login time</th>
                <th scope="col">Last updated</th>
                <th scope="col">IP</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let onlineClient of onlineClients">
                <td>{{ onlineClient.username }}</td>
                <td>{{ onlineClient.loginTime }}</td>
                <td>{{ onlineClient.lastUpdated }}</td>
                <td>{{ onlineClient.ip }}</td>
                <td>
                  <button
                    class="btn btn-secondary"
                    title="client details "
                    (click)="displayDetails(onlineClient)"
                  >
                    Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col col-lg-4 col-sm-12 card">
          <h4 class="card-header text-center">Information</h4>
          <app-client-detail [details]="clientDetails"></app-client-detail>
          <br />
          <br />
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
