<div class="card mt-4">
  <h4 class="card-header">Home</h4>
  <div class="card-body">
      <p>{{currentUser.username}} You're logged</p>
      <p>This page can be accessed by <u>all authenticated users</u>.</p>
      <p class="mb-1">Current user from secure api end point:</p>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      <ul>
        <li *ngFor="let onlineClient of onlineClients">
           {{onlineClient.username}}
           {{onlineClient.loginTime}}
           {{onlineClient.lastUpdated}}
           {{onlineClient.ip}}
          <button title="client details" (click)="displayDetails(onlineClient)">Details</button>
        </li>
      </ul>
  </div>
</div>